@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Noto+Serif";

figure{
    width: 300px;
    background-color:antiquewhite;
    float: left;
    overflow: hidden;
    display: block;

}

figurecaption{
    border: 2px solid white;
    text-decoration: none;
    color:black;
    text-align: center;
}

article{
    margin-left: 90px;
    margin-top: 10px;
}